// Primary-Color
$Light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

//Gradients
$Light-slate-blue-background: hsl(252, 100%, 67%);
$Light-royal-blue-background: hsl(241, 81%, 54%);
$Violet-blue-circle: hsla(256, 72%, 46%, 1);
$Persian-blue-circle: hsla(241, 72%, 46%, 0);  
$reactionbg: hsla(0, 100%, 67%, .2);
$memorybg: hsla(39, 100%, 56%, .2);
$verbalbg: hsla(166, 100%, 37%, .2);
$visualbg: hsla(234, 85%, 45%, .2);

//Neutral Colors
$white: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

//Box-Shadow
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;