@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&family=Outfit&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'colors';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Pale-blue;

    @media screen and (max-width: 650px) {
        main {
            align-items: flex-start;
            background-color: $white;
        }

    }

    .card {
        box-shadow: $box-shadow;
        border-radius: 2rem;
        width: 650px;
        background-color: $white;

        @media screen and (max-width: 650px) {
                box-shadow : none;
        }

        &-container {
            display: flex;
            justify-content: space-between;

            // container-left
            @media screen and (max-width: 650px) {
                    flex-direction: column;
            }


            
            .result {
                width: 50%;
                padding: 1rem 2rem;
                border-radius: 2rem;
                background: linear-gradient(to bottom, ($Light-slate-blue-background),($Light-royal-blue-background));
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                @media screen and (max-width: 650px) {
                    width: 100%;
                    border-radius: 0 0 1rem 1rem;
                }


                & .title {
                    color: $light-lavender;
                    margin-bottom: 1rem;
                }
                
                .circle {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: linear-gradient(to bottom, $Violet-blue-circle, $Persian-blue-circle);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    // color: red;
                    
                    h1 {
                        color:$light-lavender;
                        font-size: 4rem;
                    }
                    p {
                        color: $white;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                    }
                    // p {
                    //     color: $light-lavender;
                    // }
                }

                & b {
                    color: $white;
                    font-size: 1.5rem;
                }
                & .info {
                    color: $light-lavender;
                    width: 200px;

                    @media screen and (max-width: 650px) {
                        width: 250px;
                    }
                }

            }

            //container- right
            .summary {
                width: 50%;
                padding: 1.5rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media screen and (max-width: 650px) {
                    width: 100%;
                }

                .title {
                    color: black;
                    font-weight: 800;
                }
                .rows {
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;

                    .row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 10px;
                        padding: 1rem .5rem;

                        &:nth-child(1) {
                            background-color: $reactionbg;
                        }
                        &:nth-child(1) .badge b{
                            color: $Light-red;
                        }

                        &:nth-child(2) {
                            background-color: $memorybg;
                        }
                        &:nth-child(2) .badge b{
                            color: $orange-yellow;
                        }

                        &:nth-child(3) {
                            background-color: $verbalbg;
                        }
                        &:nth-child(3) .badge b{
                            color: $green-teal;
                        }

                        &:nth-child(4) {
                            background-color: $visualbg;
                        }
                        &:nth-child(4) .badge b{
                            color: $cobalt-blue;
                        }

                        .badge {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                        }

                        p  {
                            color: gray;
                        }

                        p b {
                            color: $Dark-gray-blue;
                        }
                       
                    }
                    .btn {
                        margin-top: auto;
                        padding: 1rem;
                        border: none;
                        border-radius: 2rem ;
                        background: $Dark-gray-blue;
                        cursor: pointer;
                        font-size: 1rem;
                        color: white;

                        &:hover {
                            background: linear-gradient(to bottom, ($Light-slate-blue-background),($Light-royal-blue-background));
                        }
                    }
                  

                } 
                    
                
            }

        }
    }

}
 
@media screen and (max-width: 650px) {
    main {
        align-items: flex-start;
        background-color: $white;
    }
    .card {
        box-shadow : none;

    }
    .card-container {
        flex-direction: colum;
    }
    .result {
        border-radius: 0 0 1rem 1rem;
        width: 100%;
    }
    .result .infor {
        width: 250px;
    }
    .summary {
        width: 100%;
    }
}